/* index.css 또는 App.css 상단에 */
html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

hr {
  color: #7a7a73;
}

a:visited {
  color: black;
}

/* header */
.nav-container {
  display: flex;
  /* background-color: #7a7a73; */
  height: 8vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.logo {
  font-size: 50px;
  font-weight: 900;
  color: #eeeeee;
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.logo::before {
  content: 'J';
  position: absolute;
  left: 6px;
  top: 3px;
  color: #a2af9b;
  /* z-index: -1; */
}

.nav-top-bar {
  flex: 3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  color: #7a7a73;
}

li {
  display: inline;
  padding: 1.5rem;
  list-style: none;
}

.nav-top-bar li a {
  color: inherit;
}

/* project-cards */
section {
  /* border: 1px solid #7a7a73;
  padding: 3rem;
  margin: 2rem;
  width: 5rem;
  height: 5rem;
  text-align: center; */
}

.projects-container {
  padding: 20px;
  text-align: center;
  justify-items: center;
}

.proejcts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1.5rem;
  width: 95%;
}

.grid-item:hover {
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  transform: translateY(-6px) scale(1.02);
}
.grid-item {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  border: 1px solid #7a7a73;
  margin: 1rem;
  background-color: white;
  color: blcak;
  transition: transform 0.3s ease;
}

/* hamburger */
.hamburger-nav {
  display: none;
}
.hamburger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
}
.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  /* transition: all 0.3 ease-in-out; */
  transition: transform 0.3s ease;
}

.hamburger-icon.open span:first-child {
  /* translate(X,Y) */
  transform: rotate(45deg) translate(10px, 5px);
}
.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}
